@import "tailwindcss";

@theme {
  --color-primary: #004C54;
  /* Midnight Green */
  --color-secondary: #4A4A4A;
  /* Darker Silver for contrast */
  --color-accent: #000000;

  --color-background: #ffffff;
  --color-foreground: #000000;

  --font-sans: "Inter", var(--font-geist-sans), sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
  --primary: #004C54;
  --secondary: #4A4A4A;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -0.025em;
}